/* Start Variables */
:root {
  --main-color: #00c7fc;
  --transition-duration: 0.5s;
  --light-text-color: #777;
  --section-padding: 100px;
  --transparent-color: hsl(193 100% 49% / 60%);
}
/* End Variables */

/* Start Components */
section {
  padding: 100px;
}

.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 2px;
  background-color: black;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.main-heading h2::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 50%;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

.main-heading p {
  width: 500px;
  margin: 0 auto 100px;
  max-width: 100%;
  color: var(--light-text-color);
  line-height: 2;
}

/* End Components */

/* Start Global Rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

header .container {
  background-color: rgb(0 0 0 / 60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #636364;
  bottom: 0;
  left: 15px;
}

header .container .logo img {
  width: 159px;
}

header .container .logo img {
  width: 180px;
}

header .container nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-self: stretch;
  max-width: 800px;
}

header .container nav i {
  display: none;
  align-self: center;
  color: white;
  margin-right: 15px;
}

header .container nav input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-15px);
  opacity: 0;
}

header .container nav ul {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

@media (max-width: 767px) {
  header .container nav {
    justify-content: flex-end;
  }
  header .container nav ul {
    display: none;
  }
  header .container nav i {
    display: block;
  }
  header .container nav ul li {
    flex: 1;
  }
  header .container nav ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 75%);
    left: 0;
    height: calc(100vh - 75.39px);
    z-index: 2;
  }
  header .container nav input:checked + ul {
    display: flex;
  }
}

header .container nav ul li a {
  color: white;
  font-weight: 700;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition-duration: var(--transition-duration);
  padding: 8px;
}

header .container nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  transition-duration: var(--transition-duration);
  width: 100%;
  height: 1px;
}

header .container nav ul li a:hover::after {
  background-color: var(--main-color);
}

header .container nav ul li a:hover {
  color: var(--main-color);
  background-color: rgb(0 199 252 / 0.2);
}

header .container .search {
  display: flex;
}

header .container .search i {
  color: white;
  padding-left: 15px;
  border-left: 2px solid;
}
/* End Header */

/* Start Landing */
.landing {
  height: 100vh;
  background-image: url("../Images/landing.jpg");
  background-size: cover;
  position: relative;
}

.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 30%);
}

.landing::after,
.landing::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: calc(50% - 10px);
  transform: rotate(45deg);
  border: 4px solid;
  width: 20px;
  height: 20px;
}

.landing::after {
  right: 30px;
  border-color: white white transparent transparent;
}

.landing::before {
  left: 30px;
  border-color: transparent transparent white white;
}

.landing .overlay .landing-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.landing .overlay .landing-text .content {
  max-width: 450px;
}

@media (max-width: 767px) {
  .landing .overlay .landing-text {
    width: 100%;
  }
  .landing .overlay .landing-text .content {
    width: 100%;
  }
  .landing .overlay .landing-text h1 {
    font-size: 20px;
  }
}

.landing .overlay .landing-text h1 {
  margin: 0;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 700;
  opacity: 0;
  text-transform: uppercase;
}

.landing .overlay .landing-text p {
  line-height: 1.8;
  font-size: 12px;
  opacity: 0;
  animation-delay: 0.4s;
}

.landing .overlay .landing-text h1,
.landing .overlay .landing-text p {
  animation-name: text-appaer;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes text-appaer {
  100% {
    opacity: 1;
  }
}

.landing .dots {
  width: 100px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing .dots span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
}

.landing .dots span:nth-child(2) {
  background-color: var(--main-color);
}
/* End Landing */

/* Start Services */
.services {
  padding: var(--section-padding) 0;
}

@media (min-width: 768px) {
  .services .container .services-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
  }
}

.services .container .services-content .srv-box {
  display: flex;
}

.services .container .services-content .srv-box i {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .services .container .services-content .srv-box {
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
  }
  .services .container .services-content .srv-box i {
    margin: 0 0 25px;
  }
}

.services .container .services-content .srv-box .srv-text h3 {
  color: var(--main-color);
  font-weight: normal;
  margin-bottom: 25px;
  font-size: 20px;
}

.services .container .services-content .srv-box .srv-text p {
  font-size: 14px;
  line-height: 2;
  color: var(--light-text-color);
}
/* End Services */

/* Design Section Start */
.desgin-section {
  padding: var(--section-padding) 0;
  height: 600px;
  background-image: url("../Images/desgin.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.desgin-section .overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 40%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.desgin-section .overlay .image {
  position: relative;
  bottom: -150px;
  text-align: center;
  flex: 1;
}

.desgin-section .overlay .desgin-text {
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
  flex: 1;
}

.desgin-section .overlay .desgin-text h2 {
  margin-bottom: 25px;
}

.desgin-section .overlay .desgin-text p {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

@media (max-width: 767px) {
  .desgin-section .overlay .image {
    display: none;
  }
}

.desgin-section .overlay .desgin-text p i {
  margin-right: 30px;
}
/* Design Section End */

/* Start Portfolio */
.portfolio {
  padding: var(--section-padding) 0;
}

.portfolio .container .shuffle {
  display: flex;
  justify-content: center;
}

.portfolio .container .shuffle li {
  padding: 10px;
}

.portfolio .container .shuffle .active {
  background-color: var(--main-color);
  color: white;
}

.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0;
}

.portfolio .imgs-container .box {
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .portfolio .imgs-container .box {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 1200px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}

.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
}

.portfolio .imgs-container .box:hover img {
  transform: scale(1.2) rotate(5deg);
}

.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  bottom: -100%;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
}

.portfolio .imgs-container .box:hover .caption {
  bottom: 0px;
}

.portfolio .imgs-container .box:hover .caption h4 {
  font-weight: normal;
}

.portfolio .imgs-container .box:hover .caption p {
  margin-top: 5px;
  color: var(--main-color);
  font-size: 12px;
}

.portfolio .more {
  text-decoration: none;
  background-color: var(--main-color);
  color: white;
  padding: 10px 30px;
  display: block;
  width: fit-content;
  margin: 0 auto;
}
/* End Portfolio */

/* Start Video */
.video {
  position: relative;
}

.video video {
  width: 100%;
}

.video .layer {
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 40%);
}

.video .layer .text {
  padding: 50px 0;
  background-color: var(--transparent-color);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: white;
}

.video .layer .text h2 {
  font-weight: 700;
}

.video .layer .text p {
  margin: 50px 0;
}

@media (max-width: 767px) {
  .video .layer .text {
    padding: 25px 0;
  }
  .video .layer .text p {
    margin: 20px 0;
  }
}

.video .layer .text button {
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: white;
  background-color: #1f2021;
  padding: 10px 20px;
  border: none;
}
/* End Video */

/* About Start */
.about {
  padding: var(--section-padding) 0 0 0;
  overflow: hidden;
  text-align: center;
}

.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}
/* About End */

/* Stats Start */
.statics {
  padding: var(--section-padding) 0;
  background-image: url("../Images/stats.jpg");
  background-size: cover;
  color: white;
  position: relative;
}

.statics::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 30%);
}

.statics .container {
  position: relative;
  background-color: var(--transparent-color);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.statics .container .stats {
  padding: 50px;
}

@media (max-width: 767px) {
  .statics .container .stats {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .statics .container .stats {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .statics .container .stats {
    flex-basis: 25%;
  }
}

.statics .container .stats i {
  width: 40px;
  height: 30px;
  background-color: #1f2021;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.statics .container .stats div {
  margin: 20px 0;
  font-weight: 700;
  font-size: 50px;
}

.statics .container .stats p {
  font-weight: 300;
  font-size: 14px;
}
/* Stats End */

/* Skills Start */
.skills {
  padding: var(--section-padding) 0;
}

.skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .skills .container > div {
    flex-basis: 45%;
  }
}

.skills .container > div > h3 {
  text-align: center;
  font-weight: normal;
}

.skills .container > div > p {
  text-align: center;
  color: var(--light-text-color);
  font-weight: 300;
  margin: 30px 0 60px;
  line-height: 2;
}

.skills .container .testimonials .person {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.skills .container .testimonials .person img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 50px;
}

@media (max-width: 767px) {
  .skills .container .testimonials .person {
    flex-direction: column;
    text-align: center;
  }
  .skills .container .testimonials .person img {
    margin: 0 auto 20px;
  }
}

.skills .container .testimonials .person .text {
  border-bottom: 1px solid;
  line-height: 1.7;
}

.skills .container .testimonials .person .text p {
  text-align: right;
  color: var(--light-text-color);
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}

.skills .container .testimonials .dots {
  display: flex;
  justify-content: center;
}

.skills .container .testimonials .dots span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 10px;
}

.skills .container .testimonials .dots span:nth-child(2) {
  background-color: var(--main-color);
}

@media (max-width: 991px) {
  .skills .our-skills {
    margin-top: 60px;
  }
}

.skills .skills-bars .skill-bar {
  margin-bottom: 20px;
}

.skills .skills-bars .skill-bar h4 {
  padding: 5px;
}

.skills .skills-bars .skill-bar .bar {
  background-color: #ddd;
  height: 30px;
}

.skills .skills-bars .skill-bar .bar span {
  display: block;
  background-color: var(--main-color);
  position: relative;
  height: 100%;
}

.skills .skills-bars .skill-bar .bar span::before {
  content: attr(data-progress);
  position: absolute;
  color: white;
  background-color: black;
  right: calc(-37.5px / 2);
  padding: 3px;
  top: -37.36px;
  border-radius: 5px;
}

.skills .skills-bars .skill-bar .bar span::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -17px;
  border: 10px solid;
  border-color: black transparent transparent;
}
/* Skills End */

/* Quote Start */
.quote {
  padding: var(--section-padding) 0;
  background-image: url("../Images/quote.jpg");
  background-size: cover;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.quote .container {
  position: relative;
  color: white;
  text-align: center;
}

.quote .container q {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
}

.quote .container q::before,
.quote .container q::after {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  vertical-align: top;
}

.quote .container q::before {
  content: "\f10d";
}

.quote .container q::after {
  content: "\f10e";
}

.quote .container span {
  margin: 10px;
  font-size: 12px;
  display: block;
}

@media (max-width: 767px) {
  .quote .container q {
    font-size: 20px;
  }
  .quote .container q::before,
  .quote .container q::after {
    font-size: 13px;
  }
}
/* Quote End */

/* Pricing Start */
.pricing {
  padding: var(--section-padding) 0;
}

.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.pricing .plans .plan {
  text-align: center;
  box-shadow: 0 0 10px 1px var(--main-color);
  border-radius: 10px;
}

.pricing .plans .plan .head {
  border: 1px solid;
  border-color: transparent transparent var(--main-color);
  padding: 20px 0;
}

.pricing .plans .plan .head h3 {
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 20px;
}

.pricing .plans .plan .head span {
  font-size: 50px;
  font-weight: 700;
  position: relative;
}

.pricing .plans .plan .head span::before {
  content: "$";
  font-size: 20px;
  position: absolute;
  top: 0;
  left: -22px;
}

.pricing .plans .plan .head span::after {
  content: "/MO";
  font-size: 13px;
  position: absolute;
  bottom: 0;
  right: -30px;
}

.pricing .plans .plan ul li {
  padding: 20px 0;
  width: 120px;
  margin: 0 auto;
}

.pricing .plans .plan ul li:not(:last-child) {
  border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .foot {
  border-top: 1px solid var(--main-color);
  padding: 20px 0;
}

.pricing .plans .plan .foot a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
}

.pricing .plans .plan .foot a:hover {
  background-color: var(--main-color);
}

.pricing .contect-text {
  margin: 80px 0;
  text-align: center;
  font-size: 30px;
}

.pricing .contect-link {
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;
  color: white;
  background-color: var(--main-color);
  padding: 20px 50px;
}
/* Pricing End */

/* Sub Start */
.sub {
  padding: var(--section-padding) 0;
  position: relative;
  background-image: url("../Images/sub.jpg");
  background-size: cover;
}

.sub::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}

.sub .container {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
}

.sub .container form {
  border: solid 1px;
  border-color: var(--light-text-color) var(--light-text-color) white white;
  display: flex;
  align-items: center;
  margin-right: 5%;
  width: 50%;
}

@media (max-width: 991px) {
  .sub .container {
    flex-direction: column;
  }
  .sub .container form {
    width: 100%;
    margin-bottom: 5%;
    margin-right: 0;
  }
}

.sub .container form i,
.sub .container form input[type="email"],
.sub .container form input[type="submit"] {
  padding: 12px;
}

.sub .container form input[type="email"] {
  background-color: transparent;
  border: none;
  flex: 1;
  color: white;
  caret-color: var(--main-color);
}

.sub .container form input[type="email"]::placeholder {
  color: white;
}

.sub .container form input[type="email"]:focus {
  outline: none;
}

.sub .container form input[type="submit"] {
  color: white;
  background-color: var(--main-color);
  border: none;
}

@media (max-width: 767px) {
  .sub .container form i,
  .sub .container form input[type="email"],
  .sub .container form input[type="submit"] {
    padding: 10px;
  }
}

.sub .container p {
  line-height: 1.8;
}
/* Sub End */


/* Contact Start */
.contact {
  padding: var(--section-padding) 0;
}

.contact .container .content {
  display: flex;
}

.contact .container .content form {
  margin-right: 60px;
}

.contact .container .content form input,
.contact .container .content form textarea {
  width: 100%;
  padding: 20px;
  border-color: var(--light-text-color);
}

.contact .container .content form input::placeholder,
.contact .container .content form textarea::placeholder {
  color: black;
}

.contact .container .content form input:focus,
.contact .container .content form textarea:focus {
  outline: none;
}

.contact .container .content form input[type="email"] {
  margin: 40px 0;
}

.contact .container .content form textarea {
  height: 200px;
}

.contact .container .content form input[type="submit"] {
  display: block;
  width: fit-content;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  color: white;
  margin: 60px 0 0 auto;
}

.contact .container .content .info h4{
  font-weight: normal;
  margin-bottom: 30px;
}

.contact .container .content .info p{
  color: var(--light-text-color);
  line-height: 1.8;
}

.contact .container .content .info .number{
  margin-bottom: 100px;
}


@media (max-width: 767px) {
  .contact .container .content {
    flex-direction: column;
  }
  .contact .container .content form {
    margin-right: 0;
  }
  .contact .container .content .info {
    order: -1;
    margin: 0 auto 30px;
    text-align: center;
  }
  .contact .container .content .info .number {
    margin-bottom: 40px;
  }
  .contact .container .content .info h4{
    margin-bottom: 10px;
  }
}
/* Contact End */

/* Footer Start */
footer {
  padding: 100px 0 30px 0;
  background-image: url("../Images/footer.jpg");
  background-size: cover;
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

footer > a {
  display: block;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

footer > a img {
  width: 180px;
}

footer .social {
  width: fit-content;
  margin: 30px auto 0;
  color: white;
  text-align: center;
  position: relative;
}

footer .social h2 {
  font-weight: normal;
}

footer .social span {
  display: block;
  width: 200px;
  height: 1px;
  background-color: white;
  margin: 15px auto;
}

footer .social .icons {
  display: flex;
  justify-content: space-around;
}

footer .social .icons a {
  color: white;
  font-size: 13px;
}

footer .rights {
  width: fit-content;
  margin: 80px auto 0;
  color: white;
  position: relative;
}

footer .rights a {
  text-decoration: none;
  color: var(--main-color);
}
/* Footer End */